extends base

block content
	div.page-content
		div.jumbotron
			h1 Hi there, welcome to my website!
			h3 My name is Davis, and I am a programmer.

		div#about
			div.row
				h1 About Me
			div.row
				div.col-xs-4
					span.glyphicon.icon.icon-brush
					h3 Design
					div "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
				div.col-xs-4
					span.glyphicon.icon.icon-settings
					h3 Development
					div "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
				div.col-xs-4
					span.glyphicon.icon.icon-user
					h3 Management
					div "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
		div#projects
			div.row
				h1 Projects and Interests
				h3 Coding Projects
				div UW Chat Rooms
				
				h3 Photography
				div I love photography, I find that photos are the best way to preserve a memory or an experience, it's true, photos are worth a thousand words (and more!). Here is a small sample of my work taken with an iPhone 4 or Canon point-and-shoot. Instagram: @davisw
				div#gallery
					img(src="/images/14.jpg" alt="Trees in High Park, Toronto")

		div#experience
			div.row
				h1 Work Experience
				div "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
		div#contact
			div.row
				div.col-xs-12
					h1 Contact Me
				p Feel free to contact me with any comments, feedback or suggestions. I'm happy to answer any questions you may have for me, I look forward to hearing from you!
			div.row
				div.col-xs-6
					a(href="mailto:davis@daviswang.com")
						span.glyphicon.icon.icon-social-email
				div.col-xs-6
					a(href="http://www.linkedin.com/in/davisxwang/")
						span.glyphicon.icon.icon-social-linkedin
		footer
			div Davis Wang 2014