extends base

block content
	div.page-content
		div.jumbotron
			h1 Hi there, welcome to my website!
			h3 My name is Davis, and I am a programmer.

		hr
		div#about
			div.row
				h1 About Me
				p I am a Computer Science student of University of Waterloo and a Business student of Wilfrid Laurier University, and I am passionate about programming, design, and all things tech.
			div.row
				div.col-xs-4
					span.glyphicon.icon.icon-brush
					h3 Design
					div I love designing simplistic, clean UI with a focus on ease of useability and I try to pay attention to designs of websites, software, and ordinary everyday objects to understand why they are designed the way they are.
				div.col-xs-4
					span.glyphicon.icon.icon-settings
					h3 Development
					div Programming is my passion, solving interesting problems with even more interesting solutions is what I do in my spare time. I love applying theoretical computer science concepts and ideas and modelling them in real life.
				div.col-xs-4
					span.glyphicon.icon.icon-user
					h3 Management
					div I love working with people and working together to solve a complex problem. Whenever I can I try to learn soft skills such as teamwork, public speaking skills. In 2013, I was a finalist of the Integrated Case Examination (ICE) Competition hosted by Wilfrid Laurier University.

		hr
		div#projects
			div.row
				h1 Projects and Interests
				h3 Coding Projects
				div 
					a(href="www.uwchatrooms") UW Chat Rooms
					|  is a web chat room application build using node.js and socket.io. Work is still in progress on UW Chatrooms, but will be released soon and open-sourced.
				
				h3 Photography
				p
					| I love photography, I find that photos are the best way to preserve a memory or an experience, it's true, photos are worth a thousand words (and more!).
					| Here is a small sample of my work taken with a Nikon D3200, iPhone 4 or Canon point-and-shoot. Instagram: 
					a(href="http://instagram.com/davisw") @davisw
				div#gallery
					img(src="https://www.student.cs.uwaterloo.ca/~x297wang/images/14.jpg" alt="Trees in High Park, Toronto")
					img(src="https://www.student.cs.uwaterloo.ca/~x297wang/images/16.jpg" alt="Shanghai World Financial Center and Jin Mao Tower, Shanghai")
					img(src="https://www.student.cs.uwaterloo.ca/~x297wang/images/21.jpg" alt="Water Canal, Wuzhen")
					img(src="https://www.student.cs.uwaterloo.ca/~x297wang/images/23.jpg" alt="Water Canal two, Wuzhen")
					img(src="https://www.student.cs.uwaterloo.ca/~x297wang/images/24.jpg" alt="House, Hangzhou")
					img(src="https://www.student.cs.uwaterloo.ca/~x297wang/images/25.jpg" alt="Royal Ontario Museum, Toronto")
					img(src="https://www.student.cs.uwaterloo.ca/~x297wang/images/27.jpg" alt="Bamboo forest, Wuzhen")
					img(src="https://www.student.cs.uwaterloo.ca/~x297wang/images/53.jpg" alt="Sky, Waterloo")
					img(src="https://www.student.cs.uwaterloo.ca/~x297wang/images/55.jpg" alt="Scarborough Bluffs, Toronto")
					img(src="https://www.student.cs.uwaterloo.ca/~x297wang/images/59.jpg" alt="Lake, Algonquin Park")
					img(src="https://www.student.cs.uwaterloo.ca/~x297wang/images/66.jpg" alt="Ou Garden, Suzhou")
					img(src="https://www.student.cs.uwaterloo.ca/~x297wang/images/75.jpg" alt="Falls, Niagara Falls")
					img(src="https://www.student.cs.uwaterloo.ca/~x297wang/images/90.jpg" alt="Upper Yosemite Falls, Yosemite National Park")
					img(src="https://www.student.cs.uwaterloo.ca/~x297wang/images/91.jpg" alt="Atop upper Yosemite Trail, Yosemite National Park")
					img(src="https://www.student.cs.uwaterloo.ca/~x297wang/images/92.jpg" alt="Flying over San Francisco, San Francisco")
				h3 Writing
				div
					| I like writing, not as much I as like photography but I still take time from my day to write. An article I wrote was published on March 14th, 2012 (pi day!) in the Metro Toronto newspaper as part of a weekly Student Voice column. The original article on TalentEgg can be found 
					a(href="http://talentegg.ca/studentvoice/2011/10/108-davis-wang-pursue-relevant-volunteering-opportunities/" target="_blank") here
					| . I've also written a 
					a(href="http://blog.tagged.com/2012/04/automated-testing-at-tagged/" target="_blank") blog post
					|  for Tagged titled "Automated Testing at Tagged" covering the basic design methodology and libraries used by Tagged for automated testing.

		hr
		div#experience
			div.row
				h1 Work Experience
				div.row
					div.work.col-xs-6
						p.title Software Engineer Intern @ Minted
							div Worked on the Fulfillment team
							div Developed tools for Minted's designers to speed up their workflow and increase their efficiency
					div.work.col-xs-6
						p.title Software Development Engineer Intern @ Microsoft
							div Microsoft Office Division, Web Excel Team
							div Worked with a PM and SDET to implement a new and improved AutoComplete feature
							div Implement a set of keyboard shortcuts for the Excel Web App
				br
				div.row
					div.work.col-xs-6
						p.title Software Engineer Intern @ Tagged
							div Design and develop a completely new automated testing framework using Selenium and Java for the Tagged website
							div Automated user and user data creation for hi5 ETL verification
							div Assisted in hi5 ETL data and functionality verification
					div.work.col-xs-6
						p.title Technical Systems Analyst @ RBC Capital Markets
							div Designed and developed an application for persisting stock market transactions to DB (over 600% speed increase over existing process)
							div Rewrite and migrate scripts to new servers.
							div QA of internal applications used by traders
		
		hr
		div#contact
			div.row
				div.col-xs-12
					h1 Contact Me
				p Feel free to contact me with any comments, feedback or suggestions. I'm happy to answer any questions you may have for me, I look forward to hearing from you!
			div.row
				div.col-xs-6
					a(href="mailto:davis@daviswang.com")
						span.glyphicon.icon.icon-social-email
				div.col-xs-6
					a(href="http://www.linkedin.com/in/davisxwang/")
						span.glyphicon.icon.icon-social-linkedin
		footer
			div Davis Wang 2014